.myPageMain {
  width: 600px;
  height: 800px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--color-light-white);
  border-radius: 20px;
}

.img {
  width: 170px;
  height: 170px;
  margin-top: 25px;
  margin-left: 225px;
  border-radius: 80px;

  text-align: center;

  background-size: 100%;
}

.name {
  margin-top: 30px;
  margin-left: 50px;
  width: 500px;
  height: 30px;
  background-color: var(--color-bg);
  text-align: center;
  padding-top: 7px;
  border-radius: 5px;
}

.textBox {
  margin-top: 30px;
  height: 45%;
  width: 500px;
  margin-left: 50px;
  background-color: var(--color-bg);
  border-radius: 5px;
  padding: 15px;
}

.fixBtn {
  width: 200px;
  height: 7%;
  margin-top: 8%;
  margin-left: 195px;
  background-color: var(--color-bg);
  border-radius: 5px;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}
